.appointment-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
    padding-bottom: 100px;
}

.mobile-title {
    display: none;
}

.adaptable-title {
    font-size: 26px;
    margin: 40px 0 40px 0;
    width: 100%;
}

.appointment-card {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--the-white);
    cursor: pointer;
    transition: .4s;
    border-radius: 10px;
    border: 1px solid var(--the-black);
    width: 45%;
    margin-bottom: 40px;
    transition: 0.4s;
    font-family: inherit;
    color: var(--the-black);
    -webkit-box-shadow: 0px 17px 13px -12px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 17px 13px -12px rgba(0,0,0,0.4);
    box-shadow: 0px 17px 13px -12px rgba(0,0,0,0.4);
}

.appointment-card:hover {
    border: 1px solid var(--the-white);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
}

.card-section {
    padding: 0 10px;
    margin: 5px;
}

.card-hr {
    text-align: left;
    width: 100%;
}

@media only screen and (max-width: 1025px) {
    .mobile-title {
        display: inline;
    }

    .adaptable-title {
        font-size: 20px;
        width: 100%;
        margin: 0 0 40px 0;
    }
}

@media only screen and (max-width: 600px) {
    .appointment-card {
        width: 90%;
        margin-bottom: 40px;
    }
}